@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    "header header"
    "main   main";
  background-color: dimgray;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
