body {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "header header"
    "main   main";
  background-image: url("https://wallpaperaccess.com/full/97340.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
