.movie-img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.849);
  cursor: pointer;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-title {
  font-size: 20px;
  text-align: center;
  color: black;
  text-shadow: 5px 5px 5px rgba(14, 13, 13, 0.836);
}

.movie-item {
  list-style: none;
}
