@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.movie-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr;
  grid-template-rows: 10% 30% 10% auto;
  height: 100%;
  padding-top: 65px;
}

.movie-detail-header {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

.movie-detail-header h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: black;
  padding-top: 25px;
}

.movie-detail-header h1 span {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgba(29, 28, 28, 0.849);
  margin: 2px;
}

.movie-detail-img img {
  width: 50%;
  max-height: 100%;
  /* object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto; */
  align-self: center;
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.849);
}

.movie-detail-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movie-detail-comments {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}

.movie-detail-likes {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
}

.movie-detail-btns {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.movie-rating-plot-container {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

.movie-rating-plot-container span {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.movie-rating-plot-container .rating-container {
  font-size: 15px;
  font-weight: 300;
  color: blue;
}

.movie-rating-plot-container p {
  font-size: 17px;
  line-height: 30px;
  color: darkblue;
  padding: 2px 15px;
}
